

header {
    z-index: 1;
    top: 0;
    position: sticky;
    height: 10vh;
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

header div:nth-child(1) {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

header div:nth-child(1) img {
    height: 70%;
}

header div:nth-child(2) {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header div:nth-child(2) input {
    min-width: 300px;
    height: 50%;
    width: 70%;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
}

header div:nth-child(2) button {
    border: 1px solid grey;
    border-radius: 10px;
    height: 50%;
    width: 5em;
}

header div:nth-child(3) {
    width: 10vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div:nth-child(3) img {
    height: 70%;
}


#section1 {
    background-image: url('./static/banner.jpg');
    background-position-x: center;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#section1 h1 {
    font-size: 15vw;
}

#section2 {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 10vh;
    border-bottom: 1px solid grey;
}

.card {
    margin-bottom: 10vh;
}


#section3 {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section3 h1{
    font-size: 6vw;
    bottom: 5vh;
    text-align: center;
    width: 100vw;
    color: white;
    font-weight: 700;

}

#section4 {
    margin-top: 10vh;
    display: flex;
    width: 100vw;
    height: 70vh;
}

#section4 div:nth-child(1) {
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;

}

#section4 div:nth-child(2) {
    background-color: #e9ecef;
    width: 60%;
    height: 80%;

}

#section4 div img {
    width: 80%;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 50%;

}


#section5 {
    margin-top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 70vh;
}

#section5 div:nth-child(1) {
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;

}

#section5 div:nth-child(2) {
    background-color: #e9ecef;
    width: 60%;
    height: 80%;

}

#section5 div img {
    width: 80%;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 50%;

}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }